#select_phone_list{
    text-align: left;
}

.phoneSelected{
    background-color: rgba(110,127,147,1.0);
}

.phoneSelected-add{
    animation: 0.5s selectPanelChangeBackground;
}

.phoneSelected-remove{
    animation: 0.5s deselectPanelChangeBackground;
}

.phone_select_button{
    padding-left: 16px;
}

.md-button-toggle .md-toggle-icon {
    background: transparent url(../img/list_control_down.png) no-repeat center center;
    background-size: 100% auto;
    display: inline-block;
    height: 24px;
    margin: auto 0 auto auto;
    speak: none;
    width: 24px;
    transition: transform 0.3s ease-in-out;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
}
.md-button-toggle .md-toggle-icon.toggled {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.md-button-toggle{
    text-align: left;
}

.band_select_button{
    padding-left: 28px;
    text-align: left;
}

.band_list>li:last-child>div{
    text-align: left;
    padding-left: 28px;
}

.panel_select_button{
    display: block;
    line-height: 58px;
    height: 100%;
}

#mall_display_core{
    position: relative;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
}

#toggle_mall_display_sidenav_{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 36px;
}

#toggle_mall_display_sidenav_ md-icon{
    margin: 0;
}

#mall_display_area{
    height: auto;
}
